
.indexBackground::after {
    content: "";
    background: url(images/IMG_2051_M.JPG) no-repeat center center fixed; 
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    position: fixed;
    z-index: -1;   
    background-size: 100% 110%;
}

body {
    margin: auto;
    max-width: 1250px;
    background-color: rgb(39, 39, 39); 
}

p {
    margin-bottom: 1rem; 
    color: white;
    text-align: justify;
}
      
.p-narrow
{
    width:60%;
}

img {
    border-style: none; 
  }
@media(max-width: 1000px) { 
    .img .imageRight{ display: none;}}
  
  
#imageContainer {
    width: 35%;
    height: 50%;
    display: block;
    margin: auto;
    float: right;
    margin: 10px;
  }
    
  
.imageRight {
    width: 100%;
    height: auto;

}

svg {
    overflow: hidden;
    vertical-align: middle; }

svg:not(:root) {
    overflow: hidden; 
}
  
.container {
    position: relative;
}

.navbar-brandCurrentPage {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap; 
    } 
    .navbar-brandCurrentPage:hover, .navbar-brandCurrentPage:focus {
    text-decoration: none; 
}

.navbar-light .navbar-brand {
color: rgba(255, 255, 255, 0.9); }
.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
color: rgba(255, 255, 255, 0.9); }

.navbar-light .navbar-brandCurrentPage {
color: rgba(0, 0, 0, 0.9); }
.navbar-light .navbar-brandCurrentPage:hover, .navbar-light .navbar-brandCurrentPage:focus {
color: rgba(255, 255, 255, 0.9); }

.jumbotron {
    margin-top: 15px;
    margin: auto 30px;
    width: 95%;
    background-color: #00000000;
    border-radius: 15px;
    }

.card-deck {
    width: 100%;
    margin:auto;
    position: relative; }


@media (min-width: 576px) {
.card-columns {
    -webkit-column-count: 3;
        -moz-column-count: 3;
            column-count: 3;
    -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
    orphans: 1;
    widows: 1; }
    .card-columns .card {
    display: inline-block;
    width: 100%; 
    max-width:300px;} }


.div-shadowed {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: left;
    background-color:rgba(0, 0, 0, 0.7);
    width: auto;
}
div.box {
    float: left;
    width: 50%;
}
div.box:nth-child(odd) {
    margin-left: -5px;
}
div.box:nth-child(even) {
    margin: 0 auto;
}

hr {
    border-top: 1px solid rgba(255, 255, 255, 1); }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    color: white; }

.btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active {
    background-image: none; }

.modal-open {
    overflow: scroll; 
    height: 100%;}
    
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0; 
    height: 100%; }
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: scroll; }

.modal-content {
    width: 60%;
    margin: auto;
    pointer-events: auto;
    background-color: #fff;
    -webkit-background-clip: padding-box;
            background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    outline: 0; }

.modal-body {
    padding: 1rem; 
    max-height: calc(100vh - 50px);
    overflow-y: auto;}

.modal-header {
    border-bottom: 0px solid #e9ecef;
}

.display-3 {
    font-size: 69px;
    color: white; }

.lead {
    color: white; }


.close {
    color: #dc3545;
}